body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
  }
  
  .advice-box {
    background-color: hsl(217, 19%, 24%);
    padding: 40px; /* Adjusted padding for a larger advice box */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the advice box */
    width: 33%; /* Set the width to one-third of the viewport width */
    max-width: 600px; /* Set a maximum width for responsiveness */
    position: relative;
  }
  
  .line-image {
    width: 80%;
    max-width: 400px;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #advice-id,
  #advice-number,
  #advice-text {
    margin-bottom: 20px;
  }
  
  #advice-id {
    color: hsl(150, 100%, 66%);
  }
  
  .button-container {
    position: absolute;
    bottom: 10px; /* Adjusted distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
  }
  
  #generate-btn {
    background-color: hsl(193, 38%, 86%); 
    border: none;
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Adjusted padding for a smaller button */
    cursor: pointer;
  }
  
  #generate-btn img {
    width: 10px; /* Adjusted icon size */
    height: 10px;
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 600px) {
    .advice-box {
      padding: 20px; /* Adjusted padding for smaller screens */
      width: 80%; /* Set the width to 80% for smaller screens */
    }
  
    .line-image {
      width: 100%;
    }
  
    #advice-id {
      font-size: 18px;
    }
  
    #advice-text {
      font-size: 24px;
    }
  
    #generate-btn {
      padding: 8px; 
  
    #generate-btn img {
      width: 16px; /* Further adjusted icon size for smaller screens */
      height: 16px;
    }
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  